test_cache/*
cache/*
monitoring/*
exports/*
logs/*
gtfs/*
valhalla/valhalla_tiles
valhalla/valhalla_tiles/*
valhalla/valhalla_tiles.tar
imports/*
.DS_Store
trRoutingCSA
*.pbf
osrm/driving/*
osrm/walking/*
references/enqod13_mtq_v13.2e.csv
references/enqod13_mtq_v13.2e_sample.csv